@model IEnumerable<pelis.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h2>All the movies</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => movie.Title)</td>
            <td>@Html.DisplayFor(modelItem => movie.ReleaseYear)</td>
            <td>@Html.DisplayFor(modelItem => movie.Director)</td>
        </tr>
    }
    </tbody>
</table>
